# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [21]:
# import numpy and pandas

import numpy as np
import pandas as pd
from scipy.stats import ttest_ind
from scipy.stats import ttest_1samp
from scipy.stats import ttest_rel

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [4]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [5]:
# Your code here:

pokemon.groupby(['Legendary']).agg({'#':'count'}).reset_index()

   Legendary    #
0      False  735
1       True   65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [6]:
# Your code here:

legendary = pokemon.groupby(['Legendary']).agg({'Total':['mean','std']}).reset_index()
legendary

  Legendary       Total
                   mean         std
0     False  417.213605  106.760417
1      True  637.384615   60.937389

In [7]:
legendary_points = pokemon.groupby(['Legendary']).agg({'Total':'sum'}).reset_index()
legendary_points

   Legendary   Total
0      False  306652
1       True   41430

In [8]:
non_leg = np.where((pokemon['Legendary']==False))
non_leg_pok = pokemon.loc[non_leg]

In [9]:
leg = np.where((pokemon['Legendary']==True))
leg_pok = pokemon.loc[leg]

In [10]:
non_leg_pok.Total

0      318
1      405
2      525
3      625
4      309
      ...
787    494
788    304
789    514
790    245
791    535
Name: Total, Length: 735, dtype: int64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [11]:
# Your code here:

ttest_ind(non_leg_pok.Total, leg_pok.Total, equal_var=False)

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

# Your conclusions here:

Our p-value is very small. This means that there is a significant difference between the two sample means.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [12]:
# Your code here:

pokemon.groupby(['Type 1']).agg({'#':'count'}).reset_index()

      Type 1    #
0        Bug   69
1       Dark   31
2     Dragon   32
3   Electric   44
4      Fairy   17
5   Fighting   27
6       Fire   52
7     Flying    4
8      Ghost   32
9      Grass   70
10    Ground   32
11       Ice   24
12    Normal   98
13    Poison   28
14   Psychic   57
15      Rock   44
16     Steel   27
17     Water  112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [13]:
# Your code here:

water_indx = np.where((pokemon['Type 1']=='Water'))

In [14]:
water_pok = pokemon.loc[water_indx]

In [15]:
mean_wp = water_pok['Total']
mean_wp

9      314
10     405
11     530
12     630
59     320
      ...
724    314
725    405
726    530
762    330
763    500
Name: Total, Length: 112, dtype: int64

In [16]:
water_pok.groupby(['Type 1']).agg({'Total':['mean','std']}).reset_index()

  Type 1       Total
                mean         std
0  Water  430.455357  113.188266

In [17]:
non_water_indx = np.where((pokemon['Type 1']!='Water'))
non_water_pok = pokemon.loc[non_water_indx]
non_water = non_water_pok.groupby(['Type 1']).agg({'Total':['mean','std']}).reset_index()

In [18]:
mean_non_wp = non_water['Total']['mean'].astype(np.int64)
mean_non_wp

0     378
1     445
2     550
3     443
4     413
5     416
6     458
7     485
8     439
9     421
10    437
11    433
12    401
13    399
14    475
15    453
16    487
Name: mean, dtype: int64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [19]:
# Your code here:

ttest_ind(water_pok['Total'], mean_non_wp, equal_var=True)

Ttest_indResult(statistic=-0.4554617156570818, pvalue=0.6495548486264449)

Write your conclusion below.

# Your conclusions here:

The p-value is quite big. Therefore we can say that there is not a significant difference between the two sample means.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [20]:
# Your code here:

ttest_rel(pokemon.Attack.values, pokemon.Defense.values)

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

# Your conclusions here:

Here we can see a p-value of 0.00000171403034, it's a very small p-value. This means that we will reject the null hypothesis, with a 95% interval of confidence.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [37]:
# Your code here:

ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

# Your conclusions here:

Here we can see a p-value of 0.393368, which is quite big for a 95% interval of confidence. Since, it's bigger than that, we will not reject our null hypothesis. And we will take it for good.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [40]:
# Your code here:
    
ttest_1samp(pokemon.Attack.values-pokemon.Defense.values,0) #Yes, we have the same result

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: